/*------------------------------------*\
  #FONTS
\*------------------------------------*/
@font-face {
    font-family: "Muli";
    font-weight: 300;
    src: url("fonts/Muli-Light.ttf") format("ttf");
}

@font-face {
    font-family: "Muli";
    font-weight: 400;
    src: url("fonts/Muli-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "Muli";
    font-weight: 500;
    src: url("fonts/Muli-Medium.ttf") format("ttf");
}

@font-face {
    font-family: "Muli";
    font-weight: 600;
    src: url("fonts/Muli-SemiBold.ttf") format("ttf");
}

@font-face {
    font-family: "Muli";
    font-weight: 700;
    src: url("fonts/Muli-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "Muli";
    font-weight: 800;
    src: url("fonts/Muli-ExtraBold.ttf") format("ttf");
}

/*------------------------------------*\
  #GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles
*/

html {
    background: #f3f3f3;
    font-size: 16px;
    line-height: 1.5;
    font-family: "Muli", Helvetica, arial, sans-serif;
    color: #116466;
}

body {
    margin: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #0b3f40;
    color: #f3f3f3;
    text-shadow: none;
}

::selection {
    background: #0b3f40;
    color: #f3f3f3;
    text-shadow: none;
}

/*------------------------------------*\
  #Elements
\*------------------------------------*/

/*
    Elements: Images
    ---
    Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1 {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
    margin: 0 0 24px;
    margin-block-end: 0;
}

/* Example inline media query */
@media (min-width: 768px) {
    h1 {
        font-size: 48px;
        line-height: 52px;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 56px;
        line-height: 60px;
    }
}

h2 {
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 24px;
    font-weight: 500;
}

h4,
h5,
h6 {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 24px;
    font-weight: 500;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    font-size: 23px;
    line-height: 32px;
    margin: 0 0 24px;
    font-family: "Times New Roman", serif;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-size: 12px;
    line-height: 16px;
    padding-top: 8px;
    color: Grey;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    color: #116466;
    transition: all .1s ease-in-out;
    text-decoration-line: none;
}

a:visited,
a:active {
    color: #116466;
}

a:hover,
a:focus {
    color: #D9B08C;
}

/*------------------------------------*\
  #OBJECTS
\*------------------------------------*/

/*
    Object: Object name
    ---
    Object description
*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    padding: 24px 24px 0;
    display: flex;
    flex-direction: column;
}

.o-row--primary {
    background-color: Orange;
    color: White;
}

.o-row--dark {
    background-color: DarkGrey;
    color: White;
}

@media (min-width: 768px) {
    .o-row--lg {
        padding: 48px 48px 0px;
    }
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin: auto;
    max-width: 90em;
}

/*
    Objects: Layout
    ---
    The layout object provides us with a column-style layout system. This object
    contains the basic structural elements, but classes should be complemented
    with width utilities
*/

.o-layout {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.o-layout__item {
    width: 100%;
    box-sizing: border-box;
}

/* gutter modifiers, these affect o-layout__item too */

.o-layout--gutter {
    margin: 0 -12px;
}

.o-layout--gutter>.o-layout__item {
    padding-right: 12px;
}

.o-layout--gutter-sm {}

.o-layout--gutter-sm>.o-layout__item {}

.o-layout--gutter-lg {}

.o-layout--gutter-lg>.o-layout__item {}

/* reverse horizontal row modifier */

.o-layout--row-reverse {}

/* Horizontal alignment modifiers*/

.o-layout--justify-start {}

.o-layout--justify-end {}

.o-layout--justify-center {}

.o-layout--justify-space-around {}

.o-layout--justify-space-between {}

/* Vertical item alignment modifiers */

.o-layout--align-start {}

.o-layout--align-end {}

.o-layout--align-center {}

.o-layout--align-baseline {}

/* Vertical content alignment modifiers. Only work if there is one than one flex item */

.o-layout--align-content-start {}

.o-layout--align-content-end {}

.o-layout--align-content-center {}

.o-layout--align-content-space-around {}

.o-layout--align-content-space-between {}


/*------------------------------------*\
  #COMPONENTS
\*------------------------------------*/

/*
    Component: Component name
    ---
    Component description
*/

.full-body {
    display: flex;
}


.c-top-row {
    width: 100%;
    margin: 24px 0;
}

@media (min-width: 768px) {
    .c-top-row {
        display: flex;
        justify-content: flex-end;
    }
}


.c-mobile-menu {
    background-color: #c3d9d3;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    width: 40%;
}

.full-body-without-menu {
    width: 100%;
}

.c-top-of-menu {
    display: flex;
}

.c-close-menu-button {
    background-color: transparent;
    border: none;
    margin: 24px 16px 8px 16px;
    padding: 0;
}

.c-close-menu-button-icon {
    height: 16px;
    width: 16px;
    fill: #116466;
}

.c-open-menu-button {
    background-color: transparent;
    position: absolute;
    top: 28px;
    left: 24px;
    width: 24px;
    height: 24px;
    align-self: center;
    border: none;
    padding: 0;
}

@media (min-width: 768px) {
    .c-open-menu-button {
        display: none;
    }
}

.c-open-menu-button-icon {
    width: 24px;
    height: 24px;
}

.c-main-title {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

@media (min-width: 768px) {
    .c-main-title {
        text-align: left;
        width: fit-content;
        flex-grow: 50;
        margin: 0 0 0 32px;
    }
}


.c-menu-item-container--wide-screen {
    display: none;
}

.c-menu-item {
    line-height: 100%;
    font-size: 16px;
    font-weight: 600;
    margin: 24px 16px 0 24px;
}

.c-menu-item--active {
    text-decoration-line: underline;
}

.c-menu-item--title {
    line-height: 100%;
    font-size: 28px;
    font-weight: 700;
    margin: 24px 16px 8px 24px;
}


@media (min-width: 768px) {
    .c-menu-item-container--wide-screen {
        display: flex;
        margin-right: 24px;
    }

    .c-menu-item {
        line-height: 100%;
        font-size: 16px;
        font-weight: 600;
        margin: 24px 16px 0 24px;
    }
}

@media (min-width: 1200px) {
    .c-menu-item-container--wide-screen {}

    .c-menu-item {
        font-size: 20px;
    }
}

.c-vending-logo {
    width: 25%;
    margin: 0 auto;
}

.c-sensors-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 48px auto 0;
}

.c-sensor-container {
    border: 1px solid #116466;
    background-color: #c3d9d3;
    flex-basis: 40%;
    text-align: center;
}

.c-sensor-container--left {
    margin-right: 8px;
}

.c-sensor-container--right {
    margin-left: 8px;
}

.c-sensor-container--top {
    margin-bottom: 8px;
}
.c-sensor-container--bottom {
    margin-top: 8px;
} 

@media (min-width: 768px){
    .c-sensors-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 48px auto 0;
    }
    
    .c-sensor-container {
        border: 1px solid #116466;
        background-color: #c3d9d3;
        flex-basis: 30%;
        text-align: center;
    }
    
    .c-sensor-container--left {
        margin-left: 15%;
        margin-right: 16px;
    }
    
    .c-sensor-container--right {
        margin-right: 15%;
        margin-left: 16px;
    }
    
    .c-sensor-container--top {
        margin-bottom: 16px;
    }
    .c-sensor-container--bottom {
        margin-top: 16px;
    }
}

.c-data-title {
    text-align: center;
    margin: 16px 0;
    font-weight: 700;
}

.c-data-value-container {
    display: flex;
    justify-content: center;
}

.c-data-value {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-left: 16px;
}

.c-money-icon {
    margin-top: 5px;
}

.c-clock-icon {
    margin-top: 2px;
}

.c-status-icon {
    fill: #116466;
    margin-top: 4px;
}

.c-product-layout {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 48px auto;
}

.c-product-info {
    border: 4px solid #116466;
    text-align: center;
    flex-basis: 40%;
    padding: 16px;
}

.c-product-info--topleft {
    border-right: 2px solid #116466;
    border-bottom: 2px solid #116466;
}

.c-product-info--topright {
    border-left: 2px solid #116466;
    border-bottom: 2px solid #116466;
}

.c-product-info--bottomleft {
    border-right: 2px solid #116466;
    border-top: 2px solid #116466;
}

.c-product-info--bottomright {
    border-left: 2px solid #116466;
    border-top: 2px solid #116466;
}

.c-product-info__title {
}

/* Products Page */

.c-list-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 48px auto;
    border: 1px solid #116466;
}

.c-list-header {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 8px;
    margin-top: 8px;
}

.c-list-header *,
.c-list-entry * {
    margin: 0 8px;
    text-align: center;
    font-size: 12px;
}

.c-list-header * {
    font-weight: 700;
}

.c-list-entry {
    display: flex;
    justify-content: space-evenly;
    margin: 12px 0
}

.c-list-entry__actions {
    display: flex;
    justify-content: center;
}

.c-list-entry__actions button {
    border: none;
    background-color: transparent;
    margin: 0;
}

.c-list-entry__actions button * {
    height: 12px;
    width: 12px;
    margin: 0;
    padding: 0;
}

.c-list-entry__actions-edit {
    padding: 0 4px 0 0;
}

.c-list-entry__actions-delete {
    padding: 0 0 0 4px;
}

.c-list-header__name,
.c-list-entry__name {
    flex-basis: 37%;
}

.c-list-header__price,
.c-list-entry__price {
    flex-basis: 18%;
}

.c-list-header__number,
.c-list-entry__number {
    flex-basis: 25%;
}

.c-list-header__actions,
.c-list-entry__actions {
    flex-basis: 20%;
}

.c-list-entry-divider {
    border-bottom: 2px solid #116466;
    margin: 0 auto;
    width: 95%;
}

.c-list-entry-divider:last-child {
    display: none;
}

@media (min-width: 768px) {
    .c-list-container {
        width: 50%;
    }

    .c-list-header *,
    .c-list-entry * {
        margin: 0 16px;
        font-size: 16px;
    }

    .c-list-entry__actions button * {
        height: 20px;
        width: 20px;
        margin: 0;
    }

    .c-list-entry__actions-edit {
        padding: 0 8px 0 0;
    }
    
    .c-list-entry__actions-delete {
        padding: 0 0 0 8px;
    }

    .c-list-header__name,
    .c-list-entry__name {
        flex-basis: 40%;
    }

    .c-list-header__price,
    .c-list-entry__price {
        flex-basis: 20%;
    }

    .c-list-header__number,
    .c-list-entry__number {
        flex-basis: 20%;
    }

    .c-list-header__actions,
    .c-list-entry__actions {
        flex-basis: 20%;
    }

}

.c-confirm-delete {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 45%;
    left: 0; 
    right: 0; 
    margin: 0 auto;
    width: 50%;
    border: 1px solid #116466;
    padding: 16px 24px;
    background-color: #c3d9d3;
}

.c-confirm-delete__title {
    text-align: center;
    margin-right: 8px;
}

.c-confirm-delete__buttons {
    display: flex;
    justify-content: center;
}

.c-confirm-delete__button-yes {
    color: #116466;
    background-color: #FFCB9A;
    border: 1px solid #D9B08C;
    width: 20%;
    padding: 8px 0;
    font-weight: 600;
    margin-right: 16px;
}

.c-confirm-delete__button-no {
    color: #116466;
    background-color: transparent;
    border: 1px solid #116466;
    width: 20%;
    padding: 8px 0;
    font-weight: 600;
    margin-left: 16px;
}

.c-list-entry-edit-container {
    background-color: #c3d9d3;
    text-align: center;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}

.c-list-entry-edit-container * {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: start; 
}

.c-list-entry-edit-input {
    background-color: #c3d9d3;
    border: 1px solid #116466;
    color: #116466;
}

.c-list-entry-edit-label,
.c-list-entry-edit-input {
    width: 100%;
    box-sizing: border-box;
}

.c-list-entry-edit-input--select {
    width: 100%;
    padding: 1px 2px;
}


.c-list-entry-edit__title {
    margin-top: 16px;
    margin-bottom: 8px;
    flex-basis: 80%;
    display: block;
}

.c-list-entry-edit__buttons {
    margin: 24px auto 16px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.c-list-entry-edit__button--confirm {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #116466;
    background-color: #FFCB9A;
    border: 1px solid #D9B08C;
    width: 35%;
    padding: 8px 0;
    font-weight: 600;
    margin-right: 16px;
}

.c-list-entry-edit__button--cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #116466;
    background-color: transparent;
    border: 1px solid #116466;
    width: 35%;
    padding: 8px 0;
    font-weight: 600;
    margin-left: 16px;
}

.c-status-message {
    width: 60%;
    margin: 16px auto -16px;
    text-align: center;
    color: #D9B08C;
}

/*
    Component: layout block
    ---
    A small component to demonstrate the layout items
*/

/*------------------------------------*\
  #UTILITIES
\*------------------------------------*/

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements.
*/
.u-max-width-sm {
    max-width: 36em !important;
}

.u-max-width-md {
    max-width: 45em;
}

.u-max-width-lg {
    max-width: 60em;
}

.u-max-width-xl {
    max-width: 75em;
}

.u-max-width-none {
    max-width: none;
}

/*
    Utility: Utility name
    ---
    Utility description
*/

/*
    Utility: Widths
    ---
    Utility classes to put specific widths onto elements
    Will be mostly used on o-layout__item
*/

.u-width-auto {
    width: auto;
}

.u-1-of-2 {
    width: 50%;
}

.u-1-of-3 {
    width: 33.333333%;
}

.u-2-of-3 {
    width: 66.666666%;
}

.u-1-of-4 {
    width: 25%;
}

.u-3-of-4 {
    width: 75%;
}

.u-1-of-5 {
    width: 20%;
}

.u-2-of-5 {
    width: 40%;
}

.u-3-of-5 {
    width: 60%;
}

.u-4-of-5 {
    width: 80%;
}

.u-1-of-6 {
    width: 16.66666%;
}

.u-5-of-6 {
    width: 83.33333%;
}

@media (min-width: 576px) {
    .u-1-of-2-bp1 {}
}

@media (min-width: 768px) {
    .u-1-of-2-bp2 {}
}

@media (min-width: 992px) {
    .u-1-of-2-bp3 {}
}

@media (min-width: 1200px) {
    .u-1-of-2-bp4 {}
}


/*------------------------------------*\
  #MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
   No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {

    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " ("attr(href) ")";
    }

    abbr[title]:after {
        content: " ("attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}